
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "4000:80"
    depends_on:
      - mongo

  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    volumes:
      - backend_uploads:/app/uploads

  mongo:
    image: mongo
    restart: always
    ports:
      - "27019:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
  backend_uploads: